@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css');

*{
    padding: 0;
    margin: 0;
    outline: 0;
}

img{
    width: 100px;
}

body{
    padding: 3rem 3rem 3rem 4rem;
}

nav{
    /* background-color: red; */
    display: flex;
    flex-direction: row;  
    justify-content: space-between;
    align-items: center;
}

.nav-items{
    /* background-color: yellow; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 40%;
}

.nav-item{
    font-family: 'Poppins';
    font-size: 1.2rem;
    font-weight: 400;
}

.nav-item:hover{
    color: #FE5E35;
    font-weight: 700;
}

img[alt = "actions"]{
    width: 250px;
}

nav .fa-bars {
    display: none;
}

/* intro-section */

.intro-section{
    /* background-color: bisque; */
    display: flex;
    flex-direction: row;
}

/* left-section */
.left-section{
    /* background-color: cyan; */
    /* flex: 1; */
    width: 60%;
    padding-top: 4rem;
}

.left-section>h3{
    font-family: 'Poppins';
    font-size: 2rem;
    font-weight: 400;
}

.left-section>h1{
    font-family: 'Fredoka One';
    font-size: 5rem;
}

img[alt = "circles"]{
    /* background-color: yellow; */
    width: 3rem;
}

.sub-headlines{
    /* background-color: aquamarine; */
    padding: 2rem 5rem;
}

.sub-headline{
    display: flex;
    align-items: center;
    margin: 1rem 0;
    font-family: 'Poppins';
    font-size: 1.2rem;
    font-weight: 500;
}

.sub-headlines img{
    background-color: #FE5E35;
    width: 1rem;
    padding: 5px;
    border-radius: 50%;
    margin-right: 1rem;
}

.text{
    /* background-color: aqua; */
    width: 90%;
    color: #5b5959;
    font-family: 'Poppins';
    font-size: 0.9rem;
    font-weight: 300;
    margin-bottom: 2rem;
}

.action-btns .action-btn{
    margin-right: 1rem;
}

/* right-section */
.right-section{
    /* background-color: yellow; */
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headphone-div{
    position: relative;
    /* background-color: brown; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

img[alt='headphone']{
    width: 80%;
}

.discount{
    position: absolute;
    width: 150px;
    left: 0rem;
    bottom: 4rem;
    filter: drop-shadow(0px 8px 0px rgba(0, 0, 0, 0.2));
}

.discount-content{
    /* background-color: blueviolet; */
    position: absolute;
    left: 2rem;
    bottom: 6rem;
    font-family: 'Fredoka One';
    color: #fff;
    text-align: center;
}

.discount-content>h4{
    font-size: 0.8rem;
}

.discount-content>h1{
    font-size: 3rem;
}

.dots{
    /* background-color: chartreuse; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1.5rem;    
}

.dot{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: red;
    margin-right: 1rem;
}

.yellow-dot{
    background-color: #FBD104;
}

.tomato-dot{
    background-color: #FE5E35;
}

.black-dot{
    background-color: #000;
}

.action-btn{
    background-color: #FE5E35;
    border: none;
    color: #fff;
    font-family: 'Poppins';
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 20px;
}

.right-section .action-btn{
    margin-right: 1rem;
}

@media only screen and (max-width: 1024px) {
    .nav-items {
      display: none;
    }
    .intro-section {
      flex-wrap: wrap;
      flex-direction: column-reverse;
    }
    .right-section,
    .left-section {
      width: 100%;
    }
  }
  
  @media only screen and (max-width: 768px) {
    nav .fa-bars {
      display: block;
    }
    nav img[alt='actions'] {
      display: none;
    }
    .left-section h1 {
      font-size: 3rem;
    }
  }
  @media only screen and (max-width: 575px) {
    .left-section h1 {
      font-size: 2rem;
    }
    .discount-content {
        left: 2rem;
      bottom: 6rem;
    }
  }